"IP Addresses", "Public IP Addresses", "Network", "Agent ID", "Agent Name", "Agent Type", "Location", "Country ID", "Enabled", "Prefix", "Verify SSL Certificates", "Utilization", "IPv6 Policy", "Hostname", "Last Seen", "Agent State", "Keep Browser Cache", "Created Date", "Target For Tests", "Local Resolution Prefixes", "Self Link"
{% for agent in data.agents -%}
"{{ ', '.join(agent.ipAddresses)|default('None') }}", "{{ ', '.join(agent.publicIpAddresses)|default('None') }}", "{{ agent.network|default('None') }}", "{{ agent.agentId|default('None') }}", "{{ agent.agentName|default('None') }}", "{{ agent.agentType|default('None') }}", "{{ agent.location|default('None') }}", "{{ agent.countryId|default('None') }}", "{{ agent.enabled|default('None') }}", "{{ agent.prefix|default('None') }}", "{{ agent.verifySslCertificates|default('None') }}", "{{ agent.utilization|default('None') }}", "{{ agent.ipv6Policy|default('None') }}", "{{ agent.hostname|default('None') }}", "{{ agent.lastSeen|default('None') }}", "{{ agent.agentState|default('None') }}", "{{ agent.keepBrowserCache|default('None') }}", "{{ agent.createdDate|default('None') }}", "{{ agent.targetForTests|default('None') }}", "{{ ', '.join(agent.localResolutionPrefixes)|default('None') }}", "{{ data._links.self.href|default('None') if data._links.self else 'None' }}"
{% endfor %}