"ruleId", "ruleName", "expression", "direction", "notifyOnClear", "isDefault", "alertType", "minimumSources", "minimumSourcesPct", "roundsViolatingMode", "roundsViolatingOutOf", "roundsViolatingRequired", "includeCoveredPrefixes", "severity", "links href"
{% for rule in data.alertRules -%}
"{{ rule.ruleId|default('None') }}", "{{ rule.ruleName|default('None') }}", "{{ rule.expression|default('None') }}", "{{ rule.direction|default('None') }}", "{{ rule.notifyOnClear|default('None') }}", "{{ rule.isDefault|default('None') }}", "{{ rule.alertType|default('None') }}", "{{ rule.minimumSources|default('None') }}", "{{ rule.minimumSourcesPct|default('None') }}%", "{{ rule.roundsViolatingMode|default('None') }}", "{{ rule.roundsViolatingOutOf|default('None') }}", "{{ rule.roundsViolatingRequired|default('None') }}", "{{ rule.includeCoveredPrefixes|default('None') }}", "{{ rule.severity|default('None') }}", "{{ data._links.self.href|default('None') if data._links.self else 'None' }}"
{% endfor %}