"alertSuppressionWindowId", "name", "isEnabled", "status", "startDate", "duration", "repeat type", "repeat intervalType", "repeat intervalLength", "repeat daysOfWeek", "endRepeat type", "endRepeat count", "endRepeat date", "links href"
{% for window in data.alertSuppressionWindows -%}
"{{ window.alertSuppressionWindowId|default('None') }}", "{{ window.name|default('None') }}", "{{ window.isEnabled|default('None') }}", "{{ window.status|default('None') }}", "{{ window.startDate|default('None') }}", "{{ window.duration|default('None') }}", "{{ window.repeat.type|default('None') if window.repeat else 'None' }}", "{{ window.repeat.intervalType|default('None') if window.repeat else 'None' }}", "{{ window.repeat.intervalLength|default('None') if window.repeat else 'None' }}", "{{ ', '.join(window.repeat.daysOfWeek)|default('None') if window.repeat and window.repeat.daysOfWeek else 'None' }}", "{{ window.endRepeat.type|default('None') if window.endRepeat else 'None' }}", "{{ window.endRepeat.count|default('None') if window.endRepeat else 'None' }}", "{{ window.endRepeat.date|default('None') if window.endRepeat else 'None' }}", "{{ window._links.self.href|default('None') if window._links.self else 'None' }}"
{% endfor %}