"Value", "ID", "Name", "Self Link"
{% for credential in data.credentials -%}
"{{ credential.value|default('None') }}", "{{ credential.id|default('None') }}", "{{ credential.name|default('None') }}", "{{ credential._links.self.href|default('None') if credential._links.self else 'None' }}"
{% endfor %}