{% for credential in data.credentials %}
Credential ID: {{ credential.id | default('None') }}
Credential Name: {{ credential.name | default('None') }}
Credential Value: {{ credential.value | default('None') }}
Credential Links:
  Self Link:
    Href: {{ credential._links.self.href | default('None') }}
    Templated: {{ credential._links.self.templated | default('None') }}
    Type: {{ credential._links.self.type | default('None') }}
    Deprecation: {{ credential._links.self.deprecation | default('None') }}
    Name: {{ credential._links.self.name | default('None') }}
    Profile: {{ credential._links.self.profile | default('None') }}
    Title: {{ credential._links.self.title | default('None') }}
    Hreflang: {{ credential._links.self.hreflang | default('None') }}
----------------------------------------------
{% endfor %}
Links:
  Self Link:
    Href: {{ data._links.self.href | default('None') }}
    Templated: {{ data._links.self.templated | default('None') }}
    Type: {{ data._links.self.type | default('None') }}
    Deprecation: {{ data._links.self.deprecation | default('None') }}
    Name: {{ data._links.self.name | default('None') }}
    Profile: {{ data._links.self.profile | default('None') }}
    Title: {{ data._links.self.title | default('None') }}
    Hreflang: {{ data._links.self.hreflang | default('None') }}
