"ID", "AID", "Object Type", "Key", "Value", "Color", "Access Type", "Created Date", "Href", "Templated", "Type", "Deprecation", "Name", "Profile", "Title", "Hreflang"
{% for tag in data.tags -%}
"{{ tag.get('id', None) }}", "{{ tag.get('aid', None) }}", "{{ tag.get('objectType', None) }}", "{{ tag.get('key', None) }}", "{{ tag.get('value', None) }}", "{{ tag.get('color', None) }}", "{{ tag.get('accessType', None) }}", "{{ tag.get('createdDate', None) }}", "{{ tag.get('_links', {}).get('rule', {}).get('href', None) }}", "{{ tag.get('_links', {}).get('rule', {}).get('templated', None) }}", "{{ tag.get('_links', {}).get('rule', {}).get('type', None) }}", "{{ tag.get('_links', {}).get('rule', {}).get('deprecation', None) }}", "{{ tag.get('_links', {}).get('rule', {}).get('name', None) }}", "{{ tag.get('_links', {}).get('rule', {}).get('profile', None) }}", "{{ tag.get('_links', {}).get('rule', {}).get('title', None) }}", "{{ tag.get('_links', {}).get('rule', {}).get('hreflang', None) }}"
{% endfor %}